@import "tailwindcss";
/* .public-DraftEditor-content { */
/*   padding-inline: 20px !important; */
/* } */
.manacoEnvFound {
  color: white !important;
  font-style: italic !important;
  border-radius: 6px;
  background-color: var(--color-green-600) !important;
  font-weight: bold !important;
}
.manacoEnvError {
  color: white !important;
  font-style: italic !important;
  border-radius: 6px;
  background-color: var(--color-red-600) !important;
  font-weight: bold !important;
}

.Toastify__toast-theme--dark {
  background-color: var(--theme-color-brand) !important;
  border: 1px solid var(--theme-color-accent);
}
@theme {
  --color-brand: var(--theme-color-brand);
  --color-sec: var(--theme-color-sec);
  --color-accent: var(--theme-color-accent);

  --color-lines: var(--theme-color-lines);
  --color-txtprim: var(--theme-color-txtprim);
  --color-txtsec: var(--theme-color-txtsec);
  --color-lit: var(--theme-color-lit);
}

@layer base {
  :root {
    /* --theme-color-brand: rgb(13 23 33); */
    --theme-color-brand: rgb(33 33 33);
    /* --theme-color-sec: rgb(19 31 43); */
    --theme-color-sec: rgb(38 38 38);
    --theme-color-accent: rgb(99 102 241);

    --theme-color-lines: var(--color-gray-700);
    --theme-color-txtprim: var(--color-gray-300);
    --theme-color-txtsec: var(--color-neutral-500);
    --theme-color-lit: var(--color-white);
  }
  [data-theme="postman"] {
    --theme-color-brand: rgb(33 33 33);
    --theme-color-sec: rgb(38 38 38);
    /* --theme-color-accent: var(--color-indigo-400); */
    --theme-color-accent: rgb(255 108 55);

    --theme-color-lines: var(--color-gray-700);
    --theme-color-txtprim: var(--color-gray-300);
    --theme-color-txtsec: var(--color-gray-500);
    --theme-color-lit: var(--color-white);
  }
}

.szh-menu__item--hover {
  background-color: var(--color-lines) !important;
}
